header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
.navigationBar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navigationBar div{
    margin-right: 70px;
    color: gray;
    font-size: 18px;
}
#login{
    border: 1px solid #ff6a6d;
    background-color: #ff6a6d;
    border-radius: 25px;
    padding: 10px;
    padding-right: 46px;
    padding-left: 46px;
    margin-left: 30px;
    color: white;
    font-size: 18px;
}
#logo img{
    width: 130px;
    height: 35px;
}
body{
    background-image: url(bg.png);
    background-position: center;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.intro{
    margin-top: 80px;
    margin-left: 150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#beautiful{
    width: 43%;
    font-size: 48px;
    font-weight: 900;
}
#forMe{
    font-size: 19px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 40px;
    width: 43%;
}
#forMe p{
    text-indent: 30px;
}
#home{
    color: #ff6a6d;
}
.serviceSignup div{
    text-align: center;
    width: 60px;
    font-weight: 350;
}
.serviceSignup{
    display: flex;
    justify-content: flex-start;
    margin-top: 45px;
    align-items: center;
}
#service{
    border: 2px solid #ff6a6d;
    background-color: #ff6a6d;
    border-radius: 50px;
    margin-right: 25px;
    padding: 10px;
    padding-left: 12%;
    padding-right: 12%;
    color: white;
    box-shadow: -15px 15px 17px rgb(226, 88, 91, .4);
}
#signUp{
    border: 2px solid #ff6a6d;
    border-radius: 50px;
    padding: 10px;
    padding-left: 12%;
    padding-right: 12%;
    white-space: nowrap;
    color:#ff6a6d;
}
.navigationBar :hover{
    color:#ff6a6d;
}
.serviceSignup div:hover{
    transform: translateY(-5px);
    transition-duration: 1s;
    
}
#login:hover{
    transform: translateY(-5px);
    transition-duration: 0.5s;
    box-shadow: 0px 5px 8px rgb(226, 88, 91, .4);
}
#service:hover{
    box-shadow: none;
}
#logo :hover{
    filter: brightness(1.3);
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalBG{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    
}
.modalContent{
    position: fixed;
    background-color: white;
    width: 500px;
} 
#X{
    all: unset;
    position: relative;
    margin-left: 505px;
    color: white;
    font-weight: 500;
    font-size: 30px;
    top: -10px;
}
.hidden{
    display: none;
}