header{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navBtn{
    margin-right: 70px;
    color: gray;
    font-size: 18px;
}
.home{
    color:#ff6a6d
}
#login{
    border: 1px solid #ff6a6d;
    background-color: #ff6a6d;
    border-radius: 25px;
    padding: 10px;
    padding-right: 46px;
    padding-left: 46px;
    margin-left: 30px;
    color: white;
    font-size: 18px;
}
#logo img{
    width: 130px;
    height: 35px;
}
body{
    background-image: url(bg.png);
    background-position: center;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}
.intro{
    margin-top: 80px;
    margin-left: 150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
#beautiful{
    width: 43%;
    font-size: 48px;
    font-weight: 900;
}
#forMe{
    font-size: 19px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 40px;
    width: 43%;
}
#forMe p{
    text-indent: 30px;
}
.serviceSignup div{
    text-align: center;
    width: 60px;
    font-weight: 350;
}
.serviceSignup{
    display: flex;
    justify-content: flex-start;
    margin-top: 45px;
    align-items: center;
}
.serviceSignup div{
    border: 2px solid #ff6a6d;
    border-radius: 50px;
    padding: 10px;
    padding-left: 12%;
    padding-right: 12%;
}
#service{
    background-color: #ff6a6d;
    margin-right: 25px;
    color: white;
    box-shadow: -15px 15px 17px rgb(226, 88, 91, .4);
}
#signUp{
    white-space: nowrap;
    color:#ff6a6d;
}
.navHover :hover{
    color:#ff6a6d;
}
.serviceSignup div:hover{
    transform: translateY(-5px);
    transition-duration: 1s;
}
#login:hover{
    transform: translateY(-5px);
    transition-duration: 0.5s;
    box-shadow: 0px 5px 8px rgb(226, 88, 91, .4);
}
#service:hover{
    box-shadow: none;
}
#logo :hover{
    filter: brightness(1.3);
}
.modal{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);    
}
.modalContent{
    top: 15%;
    left: 35%;
    position: fixed;
    background-color: white;
    width: 340px;
    height: 325px;
    padding: 50px;
    padding-left: 80px;
    padding-right: 80px;

} 
#personal{
    margin-top: -25px;
    font-size: 30px;
    margin-bottom: 24px;
}
#x{
    all: unset;
    position: relative;
    margin-left: 435px;
    color: white;
    font-weight: 500;
    font-size: 30px;
    top: -60px;
}
#forgotPW{
    color: black;
    margin-left: 50px;
    font-size: 17px;
    text-decoration: none;
    text-decoration: underline;
}
#enter{
    font-size: 17px;
    margin-bottom: 5px;
}
#check{
    font-size: 17px;
}
.userInfo{
    font-size: 20px;
    border: 2px black solid;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 25px;
    width: 245px;
}
#remember{
    padding-left: 10px;
}
#enterLogin{
    border: 1px solid #ff6a6d;
    background-color: #ff6a6d;
    border-radius: 40px;
    padding: 20px;
    padding-right: 85px;
    padding-left: 85px;
    margin-top: 30px;
    margin-left: 50px;
    color: white;
    font-size: 18px;
}
#iForgot :hover{
    text-decoration: none;
}
#enterHover :hover{
    transform: translateY(-5px);
    transition-duration: 1s;
}