.container {
	width: 360vw;
	transition: transform 0.5s;
}
.window {
	overflow: hidden;
}
.inner {
	width: 80vw;
	float: left;
}
img {
	width: 100%;
	height: 450px;
}
.carouselButton {
	position: absolute;
	top: 430px;
	left: 45vw;
}
button {
	border: white;
	height: 5px;
	border-radius: 15px;
	width: 5vw;
}
