input[id*='answer'] {
	display: none;
}
input[id*='answer'] + label {
	display: block;
	padding: 20px;
	border: 1px solid #232188;
	border-bottom: 0;
	color: #fff;
	font-weight: 900;
	background: #3632a5;
	cursor: pointer;
}
input[id*='answer'] + label em {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	display: inline-block;
	background: url('');
	transform: translateY(-50%);
}
